<nav class="absolute top-0 left-0 z-20 w-full">
  <div class="mx-auto flex max-w-7xl items-center justify-between px-6 py-6">
    <a href="/" class="text-xl font-semibold text-white">
      Petrův pes
    </a>

    <div class="hidden gap-8 md:flex text-white">
      <a href="#" class="px-4 py-2">O nás</a>
      <a href="# " class="px-4 py-2">Štěňata</a>
      <a href="#" class="px-4 py-2">Trimování</a>
      <a href="#" class="px-4 py-2">Kontakt</a>      
      <a href="/clenska-zona" class="rounded-full border border-white px-4 py-2">Členská zóna </a>
      <a href="/admin" class="rounded-full border border-white px-4 py-2">Admin </a>

    </div>
  </div>
</nav>