---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProfileCard from "../components/dashboard/ProfileCard";
import LogoutButton from "../components/auth/LogoutButton";
---

<BaseLayout title="Dashboard">
  <main class="mx-auto max-w-7xl px-6 py-20">
    <div class="mb-8 flex items-center justify-between">
        <h1 class="text-4xl font-semibold mb-6">
        Členská zóna
      </h1>
      <LogoutButton  client:load />
    </div>

    <ProfileCard client:load />
  </main>
</BaseLayout>